<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Schedule A Visit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/CSS/style.css}">
</head>
<body>

<div th:replace="fragments/header.html::header"></div>
<div th:replace="fragments/navbar.html::navbar"></div>

<div class="container my-5">
    <h2 class="mb-5">Let's Schedule a Visit!</h2>
    <h5 th:text="'Thank you for taking interest in ' + ${pet.name} + '!'"></h5>
    <p th:text="'If you are thinking about adopting, and would like to meet and see ' + ${pet.name} +
            ', then please fill in the following details in order to schedule a visit.'"></p>
    <div class="row">
        <div class="col-md-10">
            <form action="#" th:action="@{/user/schedulevisit}" th:object="${userDetails}" method="post">
                <div class="row shadow-lg">
                    <div th:replace="fragments/user-details-form.html::userDetailsForm"></div>
                    <div class="form-group col-md-4">
                        <label for="date" class="col-form-label">Choose date <span class="text-danger">*</span></label>
                        <input type="date" class="form-control" name="date" id="date" th:required>
                        <span th:if="${emptyDate == 'true'}"  class="text-danger">Date is required</span>
                    </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="about" class="col-form-label">Tell us more about yourself (Optional)</label>
                                <textarea class="form-control" id="about" name="about" rows="5"></textarea>
                                <div id="aboutHelp" class="mb-2 form-text text-secondary">Do you have other pets, have you ever had a pet before, etc..</div>
                            </div>
                            <input type="hidden" name="petId" th:value="${pet.id}">
                            <div class="col-5 text-center">
                                <img th:src="@{/images/{image}(image=${pet.image})}" class="img-fluid mb-3">
                            </div>
                        </div>
                    <div class="row">
                        <div class="col-3">
                            <input type="submit" class="btn btn-primary btn-lg mx-2 my-4" value="Schedule visit">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

</body>
</html>